<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InventarioPED.Properties.Settings.Connection" connectionString="Server=Pushet;Database=InventarioDB;Trusted_Connection=True;TrustServerCertificate=True;" />
    </connectionStrings>
</configuration>